.catcoin {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 1em 1em 0;
    border: 3px solid purple;
    background-color: lime;
    padding: .5em;
    box-shadow: 10px 10px 5px goldenrod, 11px 11px 6px  black;
  }
figcaption {
  margin-bottom: 10px;
}
div {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    align-content: center;
    text-align: center;
    
  }
section {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    background-color:  rgba(255, 105, 180, .9);
    align-content: center;
    text-align: center;
    border-radius: 25px;
  }

li {
    list-style-type: none;
  }