/* Master CSS for all pages */
body {
  background-color: pink;
  background-image: url(http://getwallpapers.com/wallpaper/full/c/8/9/187163.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


h1, h2, h3, h4, h5 {
  color: pink;
  font-family: 'Courgette', cursive;
  background-color:rgba( 102,51,153,.8);
  box-shadow: 2px 2px 2px 2px purple;
  border-radius: 25px;
}

h1 {
  font-size: 50px
}
h2 {
  font-size: 40px
}
h3 {
  font-size: 30px
}
h4 {
  font-size: 20px
}
h5 {
  font-size: 10px
}
p {
  font-family: 'Courgette', cursive;
  font-size: 20px;
}

li {
  font-family: 'Courgette', cursive;
  list-style-type: none;
  font-size: 20px;
}


/* main nav styles */
header {
  background: linear-gradient(hotpink, violet);
  margin-bottom: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

article {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  align-content: center;
  text-align: center;
}
#mainNav{
  text-align: center;
}
#mainNav button {
background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
border-radius: 28px;
text-shadow: 3px 2px 1px #9daef5;
font-size: 2.5em;
font-family: 'Courgette', cursive;
margin: 8px;

}

#mainNav button:hover {
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
}

button:active {
  outline: none;
  border: none;
  }
  
button:focus {
  outline:0;
}

#mainNav li {
  font-size: 2em;
  list-style-type: none;
  display: inline-block;
  margin-right: 2em;
}

#mainNav ul {
  margin: 0;
  padding: 1em 0 1em 1em;
}

#mainNav a {
  text-decoration: none;
}


h2 ~ ol, h2 ~ ul, .peach-background, .tweets {
  background-color: rgba(255, 218, 185, .8);
  border-radius: 25px;
  margin-top: 20px;
}

img {
  border-radius: 5%;
}


