body {
  background-color: pink;
  background-image: url(http://getwallpapers.com/wallpaper/full/c/8/9/187163.jpg) ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
  color: pink;
  font-family: "Brush Script MT", cursive;
  text-shadow: 2px 2px 5px purple;
}

h1 {
  font-size: 50px
}
h2 {
  font-size: 40px
}
h3 {
  font-size: 30px
}
h4 {
  font-size: 20px
}
h5 {
  font-size: 10px
}
p {
  font-family: "Brush Script MT", cursive;
}

li {
  font-family: "Brush Script MT", cursive;
}