/* Master CSS for all pages */
body {
  background-color: pink
}

h1, h2, h3, h4, h5 {
  color: purple;
  font-family: "Courgette", cursive;
}

h1 {
  font-size: 50px
}
h2 {
  font-size: 40px
}
h3 {
  font-size: 30px
}
h4 {
  font-size: 20px
}
h5 {
  font-size: 10px
}
p {
  font-family: "Courgette", cursive;
  font-size: 14px;
}

li {
  font-family: "Brush Script MT", cursive;
}